<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anjos do Bem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <section id="home">
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li><a href="#quem-somos">Quem somos</a></li>
                        <li><a href="#">Depoimentos</a></li>
                        <li><a href="#">Casos de sucesso</a></li>
                        <li><a href="#">Fale conosco</a></li>
                    </ul>
                </nav>
            </header>
            <h1>Anjos do bem</h1>
            <%= image_tag  "facebook.svg" %>
            <%= image_tag  "instagram.svg" %>
            <%= image_tag  "vakinha.svg" %>
            <h2>Saiba mais sobre nós</h2>
            <div class="arrow"><i class="fas fa-angle-down"></i></div>
        </div>
    </section>
    <section id="quem-somos">
        <div class="container">
            <h2>Quem somos?</h2>
            <p class="description">Marzipan jelly marshmallow tart soufflé powder tootsie roll chupa chups pastry. Cotton candy macaroon fruitcake fruitcake macaroon jelly gummi bears. Lollipop lemon drops croissant lemon drops liquorice chocolate bar chocolate cake. Wafer icing tiramisu halvah jelly-o chocolate bar candy canes. Cupcake macaroon pastry. Sugar plum cake sesame snaps oat cake. Chupa chups dessert jelly-o toffee sweet roll candy macaroon jelly beans. Icing ice cream chupa chups. Chocolate bar lollipop danish dessert croissant brownie sweet roll muffin.</p>
            <div class="pets">
                <%= image_tag  "quem1.png" %>
                <%= image_tag  "quem2.png" %>
            </div>
            <div class="quote">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna in”</p>
                <p>-NOA</p>
            </div>
            <div class="info">
                <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi quis hendrerit dolor magna eget est lorem. Varius morbi enim nunc faucibus a pellentesque sit. Sed velit dignissim sodales ut eu sem integer vitae justo odio morbi quis commodo odio aenean sed.</p>
                <p class="description">Morbi leo urna molestie at elementum. Lectus urna duis convallis convallis tellus id interdum velit. Quis ipsum suspendisse ultrices gravida. Pharetra diam sit amet nisl suscipit adipiscing. Risus nullam eget felis eget nunc lobortis mattis.</p>
                <p class="description">Tempor orci eu lobortis elementum nibh tellus molestie. Diam vel quam elementum pulvinar etiam. Tortor condimentum lacinia quis vel eros. Facilisis mauris sit amet massa vitae. Eu non diam phasellus vestibulum lorem.</p>
                <p class="description">Risus feugiat in ante metus dictum at. Turpis in eu mi bibendum neque egestas congue quisque. Venenatis cras sed felis eget velit. Eget felis eget nunc lobortis mattis aliquam faucibus purus in.</p>
            </div>
            <div class="adopted-pet">
                <%= image_tag  "quem3.png" %>
            </div>
        </div>
    </section>
</body>
</html>