@font-face {
    font-family: 'Carter';
    src: asset-url('CarterOne') format('truetype');
 }

 @font-face {
     font-family: 'Titan';
     src: asset-url('TitanOne-Regular') format('truetype');
 }

 @font-face {
    font-family: 'Comfortaa';
    src: asset-url('Comfortaa-Regular') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: asset-url('Montserrat-Regular') format('truetype');
}

 $white: #FFFEE8;

 $pink: #F9AFBD;

 $trans-pink: rgba(249, 175, 189, 0.82);