// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import '_variables';

// ##     ##  #######  ##     ## ######## 
// ##     ## ##     ## ###   ### ##       
// ##     ## ##     ## #### #### ##       
// ######### ##     ## ## ### ## ######   
// ##     ## ##     ## ##     ## ##       
// ##     ## ##     ## ##     ## ##       
// ##     ##  #######  ##     ## ######## 

#home {
    height: 100vh;
    color: $white;
    font-family: 'Titan';
    text-align: center;
    background: image_url('animal.png');
    background: {
        size: cover;
        position: center;
    }

    & nav ul {
        text-align: right;

        & li {
            display: inline-block;
            font-size: 1.2em;
            line-height: 3em;

            & a {
                text-decoration: none;
                color: $white;
                padding: 5px 20px;
                border-radius: 15px;
                transition: .3s;

                &:hover {
                    background: $trans-pink;
                    transition: .3s;
                }
            }

            &:not(:last-child)::after {
                display: inline-block;
                content: '';
                width: 1px;
                height: 2em;
                background-color: $pink;
                transform: translateY(30%) translateX(2px);
            }
        }
    }

    & img {
        width: 75px;
        margin: 3.8%;
    }

    & h1 {
        margin-top: 25vh;
        font-size: 4em;
    }

    & h2 {
        position: relative;
        margin-top: 10vh;
        font: {
            family: 'Carter';
            size: 1.4em;
        }
    }

    & .arrow {
        margin-top: 20px;
        font-size: 4em;
    }
}

// #######  ##     ## ######## ##     ##     ######   #######  ##     ##  #######   ######  
// ##     ## ##     ## ##       ###   ###    ##    ## ##     ## ###   ### ##     ## ##    ## 
// ##     ## ##     ## ##       #### ####    ##       ##     ## #### #### ##     ## ##       
// ##     ## ##     ## ######   ## ### ##     ######  ##     ## ## ### ## ##     ##  ######  
// ##  ## ## ##     ## ##       ##     ##          ## ##     ## ##     ## ##     ##       ## 
// ##    ##  ##     ## ##       ##     ##    ##    ## ##     ## ##     ## ##     ## ##    ## 
//  ##### ##  #######  ######## ##     ##     ######   #######  ##     ##  #######   ######  

#quem-somos {
    margin: {
        top:10vh;
        bottom: 5vh;
    }

    & h2 {
        color: $pink;
        font: {
            size: 1.6em;
            family: 'Titan';
        }
        text-align: center;
        margin-top: 12vh;
    }

    & p.description {
        text-align: center;
        font-family: 'Comfortaa';
        line-height: 1.2em;
        margin: 8vh 4vw;
    }

    & .pets img {
        border-radius: 4px;
        box-shadow: 0px 5px 5px #b9b9b9;
        &:nth-child(2) {
            float: right;
            transform: translateY(-100px);
        }
    }

    & .quote {
        margin-left: 200px;
        margin-top: 8vw;
        width: 250px;
        padding: 34px;
        color: $pink;
        font: {
            family: 'Comfortaa';
            size: 1.1em;
            weight: bold;
        }
        line-height: 1.5em;
        letter-spacing: 1px;
        border: 1px solid $pink;
        z-index: -1;
    }

    & .info {
        float: right;
        width: 40%;
        text-align: left;
        margin-top: -15%;

        & h3 {
            font: {
                family: 'Montserrat';
                size: 1.6em;
            }
        }

        & p.description {
            margin: 15px 0;
            text-align: left;
        }
    }

    & .adopted-pet img {
        float: left;
        transform: translateX(-100px) translateY(100px);
        box-shadow: 0px 5px 5px #b9b9b9;
        border-radius: 4px;
    }
}